.Breadcrumbs{
    color: grey;
    display: flex;
    padding: 10px;
}

.Breadcrumbs div{
    display: flex;
}

.Breadcrumbs a{
    text-decoration: none;
    color: grey;
}

.Breadcrumbs-arrow{
    padding: 0 10px;
}

