.ItemPage {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

@media screen and (max-width: 1000px) {
    .ItemPage {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .ItemPage {
        grid-template-columns: repeat(2, 1fr);
    }
}