.Header {
    color: var(--light-grey);
    height: 150px;
    display: flex;
    background-image: url("/public/images/drawer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
}

.Header-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.Header-title {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 70px;
}

.Header-title:hover{
    color: pink;
}

.Header-logo span{
    font-size: 30px;
    padding: 20px;
}


@media screen and (max-width: 1000px) {
    .Header{
        height: 100px;
    }
    .Header-title {
        font-size: 40px;
    }
    .Header-logo span{
        font-size: 20px;
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {
    .Header{
        height: 100px;
    }
    .Header-title {
        font-size: 30px;
    }
    .Header-logo span{
        font-size: 15px;
        padding: 10px;
    }
}