.SubCategoryPage{
    display: flex;
    flex-direction: column;
}

.SubCategoryPage-cards{
    margin: 30px 0;
    display: flex;
    /* flex-grow: 1;
    flex-shrink: 2; */
    gap: 20px;
}

.SubCategoryPage-backIcon{
    align-self: flex-end;
    font-size: 25px;
    cursor: pointer;
}